<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="25" />
		<!-- <setting name="mapUnderscoreToCamelCase" value="true"/> -->
	</settings>
	<typeAliases>
	    <typeAlias alias="Game" type="com.fly.wechat.mpdemo.match.model.Game"/>
	    <typeAlias alias="GamePlayerDetail" type="com.fly.wechat.mpdemo.match.model.GamePlayerDetail"/>
	    <typeAlias alias="GameTeamDetail" type="com.fly.wechat.mpdemo.match.model.GameTeamDetail"/>
	    <typeAlias alias="Match" type="com.fly.wechat.mpdemo.match.model.Match"/>
	    <typeAlias alias="MatchTeam" type="com.fly.wechat.mpdemo.match.model.MatchTeam"/>
	    <typeAlias alias="Player" type="com.fly.wechat.mpdemo.match.model.Player"/>
	    <typeAlias alias="Team" type="com.fly.wechat.mpdemo.match.model.Team"/>
	    <typeAlias alias="TeamPlayer" type="com.fly.wechat.mpdemo.match.model.TeamPlayer"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/fly/wechat/mpdemo/match/xml/GameMapper.xml"/>
		<mapper resource="com/fly/wechat/mpdemo/match/xml/GamePlayerDetailMapper.xml"/>
		<mapper resource="com/fly/wechat/mpdemo/match/xml/GameTeamDetailMapper.xml"/>
		<mapper resource="com/fly/wechat/mpdemo/match/xml/MatchMapper.xml"/>
		<mapper resource="com/fly/wechat/mpdemo/match/xml/MatchTeamMapper.xml"/>
		<mapper resource="com/fly/wechat/mpdemo/match/xml/PlayerMapper.xml"/>
		<mapper resource="com/fly/wechat/mpdemo/match/xml/TeamMapper.xml"/>
		<mapper resource="com/fly/wechat/mpdemo/match/xml/TeamPlayerMapper.xml"/>
	</mappers>

</configuration> 