<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fly.wechat.mpdemo.match.dao.GamePlayerDetailMapper" >
  <resultMap id="BaseResultMap" type="com.fly.wechat.mpdemo.match.model.GamePlayerDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="game_id" property="gameId" jdbcType="BIGINT" />
    <result column="team_id" property="teamId" jdbcType="BIGINT" />
    <result column="player_id" property="playerId" jdbcType="BIGINT" />
    <result column="sf" property="sf" jdbcType="TINYINT" />
    <result column="num" property="num" jdbcType="TINYINT" />
    <result column="min" property="min" jdbcType="TINYINT" />
    <result column="fg" property="fg" jdbcType="TINYINT" />
    <result column="fgt" property="fgt" jdbcType="TINYINT" />
    <result column="pt3" property="pt3" jdbcType="TINYINT" />
    <result column="pt3t" property="pt3t" jdbcType="TINYINT" />
    <result column="ft" property="ft" jdbcType="TINYINT" />
    <result column="ftt" property="ftt" jdbcType="TINYINT" />
    <result column="oreb" property="oreb" jdbcType="TINYINT" />
    <result column="dreb" property="dreb" jdbcType="TINYINT" />
    <result column="reb" property="reb" jdbcType="TINYINT" />
    <result column="ast" property="ast" jdbcType="TINYINT" />
    <result column="stl" property="stl" jdbcType="TINYINT" />
    <result column="blk" property="blk" jdbcType="TINYINT" />
    <result column="to" property="to" jdbcType="TINYINT" />
    <result column="pf" property="pf" jdbcType="TINYINT" />
    <result column="pts" property="pts" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, game_id, team_id, player_id, sf, num, min, fg, fgt, pt3, pt3t, ft, ftt, oreb, 
    dreb, reb, ast, stl, blk, to, pf, pts, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fly.wechat.mpdemo.match.model.GamePlayerDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from game_player_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from game_player_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from game_player_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fly.wechat.mpdemo.match.model.GamePlayerDetail" >
    insert into game_player_detail (id, game_id, team_id, 
      player_id, sf, num, min, 
      fg, fgt, pt3, pt3t, 
      ft, ftt, oreb, dreb, 
      reb, ast, stl, blk, 
      to, pf, pts, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{gameId,jdbcType=BIGINT}, #{teamId,jdbcType=BIGINT}, 
      #{playerId,jdbcType=BIGINT}, #{sf,jdbcType=TINYINT}, #{num,jdbcType=TINYINT}, #{min,jdbcType=TINYINT}, 
      #{fg,jdbcType=TINYINT}, #{fgt,jdbcType=TINYINT}, #{pt3,jdbcType=TINYINT}, #{pt3t,jdbcType=TINYINT}, 
      #{ft,jdbcType=TINYINT}, #{ftt,jdbcType=TINYINT}, #{oreb,jdbcType=TINYINT}, #{dreb,jdbcType=TINYINT}, 
      #{reb,jdbcType=TINYINT}, #{ast,jdbcType=TINYINT}, #{stl,jdbcType=TINYINT}, #{blk,jdbcType=TINYINT}, 
      #{to,jdbcType=TINYINT}, #{pf,jdbcType=TINYINT}, #{pts,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fly.wechat.mpdemo.match.model.GamePlayerDetail" >
    insert into game_player_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gameId != null" >
        game_id,
      </if>
      <if test="teamId != null" >
        team_id,
      </if>
      <if test="playerId != null" >
        player_id,
      </if>
      <if test="sf != null" >
        sf,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="min != null" >
        min,
      </if>
      <if test="fg != null" >
        fg,
      </if>
      <if test="fgt != null" >
        fgt,
      </if>
      <if test="pt3 != null" >
        pt3,
      </if>
      <if test="pt3t != null" >
        pt3t,
      </if>
      <if test="ft != null" >
        ft,
      </if>
      <if test="ftt != null" >
        ftt,
      </if>
      <if test="oreb != null" >
        oreb,
      </if>
      <if test="dreb != null" >
        dreb,
      </if>
      <if test="reb != null" >
        reb,
      </if>
      <if test="ast != null" >
        ast,
      </if>
      <if test="stl != null" >
        stl,
      </if>
      <if test="blk != null" >
        blk,
      </if>
      <if test="to != null" >
        to,
      </if>
      <if test="pf != null" >
        pf,
      </if>
      <if test="pts != null" >
        pts,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gameId != null" >
        #{gameId,jdbcType=BIGINT},
      </if>
      <if test="teamId != null" >
        #{teamId,jdbcType=BIGINT},
      </if>
      <if test="playerId != null" >
        #{playerId,jdbcType=BIGINT},
      </if>
      <if test="sf != null" >
        #{sf,jdbcType=TINYINT},
      </if>
      <if test="num != null" >
        #{num,jdbcType=TINYINT},
      </if>
      <if test="min != null" >
        #{min,jdbcType=TINYINT},
      </if>
      <if test="fg != null" >
        #{fg,jdbcType=TINYINT},
      </if>
      <if test="fgt != null" >
        #{fgt,jdbcType=TINYINT},
      </if>
      <if test="pt3 != null" >
        #{pt3,jdbcType=TINYINT},
      </if>
      <if test="pt3t != null" >
        #{pt3t,jdbcType=TINYINT},
      </if>
      <if test="ft != null" >
        #{ft,jdbcType=TINYINT},
      </if>
      <if test="ftt != null" >
        #{ftt,jdbcType=TINYINT},
      </if>
      <if test="oreb != null" >
        #{oreb,jdbcType=TINYINT},
      </if>
      <if test="dreb != null" >
        #{dreb,jdbcType=TINYINT},
      </if>
      <if test="reb != null" >
        #{reb,jdbcType=TINYINT},
      </if>
      <if test="ast != null" >
        #{ast,jdbcType=TINYINT},
      </if>
      <if test="stl != null" >
        #{stl,jdbcType=TINYINT},
      </if>
      <if test="blk != null" >
        #{blk,jdbcType=TINYINT},
      </if>
      <if test="to != null" >
        #{to,jdbcType=TINYINT},
      </if>
      <if test="pf != null" >
        #{pf,jdbcType=TINYINT},
      </if>
      <if test="pts != null" >
        #{pts,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fly.wechat.mpdemo.match.model.GamePlayerDetail" >
    update game_player_detail
    <set >
      <if test="gameId != null" >
        game_id = #{gameId,jdbcType=BIGINT},
      </if>
      <if test="teamId != null" >
        team_id = #{teamId,jdbcType=BIGINT},
      </if>
      <if test="playerId != null" >
        player_id = #{playerId,jdbcType=BIGINT},
      </if>
      <if test="sf != null" >
        sf = #{sf,jdbcType=TINYINT},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=TINYINT},
      </if>
      <if test="min != null" >
        min = #{min,jdbcType=TINYINT},
      </if>
      <if test="fg != null" >
        fg = #{fg,jdbcType=TINYINT},
      </if>
      <if test="fgt != null" >
        fgt = #{fgt,jdbcType=TINYINT},
      </if>
      <if test="pt3 != null" >
        pt3 = #{pt3,jdbcType=TINYINT},
      </if>
      <if test="pt3t != null" >
        pt3t = #{pt3t,jdbcType=TINYINT},
      </if>
      <if test="ft != null" >
        ft = #{ft,jdbcType=TINYINT},
      </if>
      <if test="ftt != null" >
        ftt = #{ftt,jdbcType=TINYINT},
      </if>
      <if test="oreb != null" >
        oreb = #{oreb,jdbcType=TINYINT},
      </if>
      <if test="dreb != null" >
        dreb = #{dreb,jdbcType=TINYINT},
      </if>
      <if test="reb != null" >
        reb = #{reb,jdbcType=TINYINT},
      </if>
      <if test="ast != null" >
        ast = #{ast,jdbcType=TINYINT},
      </if>
      <if test="stl != null" >
        stl = #{stl,jdbcType=TINYINT},
      </if>
      <if test="blk != null" >
        blk = #{blk,jdbcType=TINYINT},
      </if>
      <if test="to != null" >
        to = #{to,jdbcType=TINYINT},
      </if>
      <if test="pf != null" >
        pf = #{pf,jdbcType=TINYINT},
      </if>
      <if test="pts != null" >
        pts = #{pts,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fly.wechat.mpdemo.match.model.GamePlayerDetail" >
    update game_player_detail
    set game_id = #{gameId,jdbcType=BIGINT},
      team_id = #{teamId,jdbcType=BIGINT},
      player_id = #{playerId,jdbcType=BIGINT},
      sf = #{sf,jdbcType=TINYINT},
      num = #{num,jdbcType=TINYINT},
      min = #{min,jdbcType=TINYINT},
      fg = #{fg,jdbcType=TINYINT},
      fgt = #{fgt,jdbcType=TINYINT},
      pt3 = #{pt3,jdbcType=TINYINT},
      pt3t = #{pt3t,jdbcType=TINYINT},
      ft = #{ft,jdbcType=TINYINT},
      ftt = #{ftt,jdbcType=TINYINT},
      oreb = #{oreb,jdbcType=TINYINT},
      dreb = #{dreb,jdbcType=TINYINT},
      reb = #{reb,jdbcType=TINYINT},
      ast = #{ast,jdbcType=TINYINT},
      stl = #{stl,jdbcType=TINYINT},
      blk = #{blk,jdbcType=TINYINT},
      to = #{to,jdbcType=TINYINT},
      pf = #{pf,jdbcType=TINYINT},
      pts = #{pts,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>