<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fly.wechat.mpdemo.match.dao.MatchTeamMapper" >
  <resultMap id="BaseResultMap" type="com.fly.wechat.mpdemo.match.model.MatchTeam" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="match_id" property="matchId" jdbcType="VARCHAR" />
    <result column="team_id" property="teamId" jdbcType="VARCHAR" />
    <result column="team_w_name" property="teamWName" jdbcType="VARCHAR" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="v_count" property="vCount" jdbcType="TINYINT" />
    <result column="f_count" property="fCount" jdbcType="TINYINT" />
    <result column="q_count" property="qCount" jdbcType="TINYINT" />
    <result column="point" property="point" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, match_id, team_id, team_w_name, group_name, v_count, f_count, q_count, point, 
    status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fly.wechat.mpdemo.match.model.MatchTeamExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from match_team
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from match_team
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from match_team
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fly.wechat.mpdemo.match.model.MatchTeam" >
    insert into match_team (id, match_id, team_id, 
      team_w_name, group_name, v_count, 
      f_count, q_count, point, 
      status)
    values (#{id,jdbcType=BIGINT}, #{matchId,jdbcType=VARCHAR}, #{teamId,jdbcType=VARCHAR}, 
      #{teamWName,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, #{vCount,jdbcType=TINYINT}, 
      #{fCount,jdbcType=TINYINT}, #{qCount,jdbcType=TINYINT}, #{point,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.fly.wechat.mpdemo.match.model.MatchTeam" >
    insert into match_team
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="matchId != null" >
        match_id,
      </if>
      <if test="teamId != null" >
        team_id,
      </if>
      <if test="teamWName != null" >
        team_w_name,
      </if>
      <if test="groupName != null" >
        group_name,
      </if>
      <if test="vCount != null" >
        v_count,
      </if>
      <if test="fCount != null" >
        f_count,
      </if>
      <if test="qCount != null" >
        q_count,
      </if>
      <if test="point != null" >
        point,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="matchId != null" >
        #{matchId,jdbcType=VARCHAR},
      </if>
      <if test="teamId != null" >
        #{teamId,jdbcType=VARCHAR},
      </if>
      <if test="teamWName != null" >
        #{teamWName,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="vCount != null" >
        #{vCount,jdbcType=TINYINT},
      </if>
      <if test="fCount != null" >
        #{fCount,jdbcType=TINYINT},
      </if>
      <if test="qCount != null" >
        #{qCount,jdbcType=TINYINT},
      </if>
      <if test="point != null" >
        #{point,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fly.wechat.mpdemo.match.model.MatchTeam" >
    update match_team
    <set >
      <if test="matchId != null" >
        match_id = #{matchId,jdbcType=VARCHAR},
      </if>
      <if test="teamId != null" >
        team_id = #{teamId,jdbcType=VARCHAR},
      </if>
      <if test="teamWName != null" >
        team_w_name = #{teamWName,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="vCount != null" >
        v_count = #{vCount,jdbcType=TINYINT},
      </if>
      <if test="fCount != null" >
        f_count = #{fCount,jdbcType=TINYINT},
      </if>
      <if test="qCount != null" >
        q_count = #{qCount,jdbcType=TINYINT},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fly.wechat.mpdemo.match.model.MatchTeam" >
    update match_team
    set match_id = #{matchId,jdbcType=VARCHAR},
      team_id = #{teamId,jdbcType=VARCHAR},
      team_w_name = #{teamWName,jdbcType=VARCHAR},
      group_name = #{groupName,jdbcType=VARCHAR},
      v_count = #{vCount,jdbcType=TINYINT},
      f_count = #{fCount,jdbcType=TINYINT},
      q_count = #{qCount,jdbcType=TINYINT},
      point = #{point,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>