<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fly.wechat.mpdemo.match.dao.MatchMapper" >
  <resultMap id="BaseResultMap" type="com.fly.wechat.mpdemo.match.model.Match" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="match_id" property="matchId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="lq_desc" property="lqDesc" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="unionid" property="unionid" jdbcType="VARCHAR" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="lq_type" property="lqType" jdbcType="TINYINT" />
    <result column="loc" property="loc" jdbcType="VARCHAR" />
    <result column="lon" property="lon" jdbcType="VARCHAR" />
    <result column="lat" property="lat" jdbcType="VARCHAR" />
    <result column="geo_code" property="geoCode" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="groupNum" property="groupnum" jdbcType="INTEGER" />
    <result column="picUrl" property="picurl" jdbcType="VARCHAR" />
    <result column="begTime" property="begtime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, match_id, name, lq_desc, openid, unionid, token, lq_type, loc, lon, lat, geo_code, 
    phone, status, num, groupNum, picUrl, begTime, endTime, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fly.wechat.mpdemo.match.model.MatchExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from lq_match
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from lq_match
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from lq_match
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fly.wechat.mpdemo.match.model.Match" >
    insert into lq_match (id, match_id, name, 
      lq_desc, openid, unionid, 
      token, lq_type, loc, 
      lon, lat, geo_code, 
      phone, status, num, 
      groupNum, picUrl, begTime, 
      endTime, create_time)
    values (#{id,jdbcType=BIGINT}, #{matchId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{lqDesc,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{unionid,jdbcType=VARCHAR}, 
      #{token,jdbcType=VARCHAR}, #{lqType,jdbcType=TINYINT}, #{loc,jdbcType=VARCHAR}, 
      #{lon,jdbcType=VARCHAR}, #{lat,jdbcType=VARCHAR}, #{geoCode,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{groupnum,jdbcType=INTEGER}, #{picurl,jdbcType=VARCHAR}, #{begtime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fly.wechat.mpdemo.match.model.Match" >
    insert into lq_match
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="matchId != null" >
        match_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="lqDesc != null" >
        lq_desc,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="unionid != null" >
        unionid,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="lqType != null" >
        lq_type,
      </if>
      <if test="loc != null" >
        loc,
      </if>
      <if test="lon != null" >
        lon,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="geoCode != null" >
        geo_code,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="groupnum != null" >
        groupNum,
      </if>
      <if test="picurl != null" >
        picUrl,
      </if>
      <if test="begtime != null" >
        begTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="matchId != null" >
        #{matchId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="lqDesc != null" >
        #{lqDesc,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null" >
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="lqType != null" >
        #{lqType,jdbcType=TINYINT},
      </if>
      <if test="loc != null" >
        #{loc,jdbcType=VARCHAR},
      </if>
      <if test="lon != null" >
        #{lon,jdbcType=VARCHAR},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=VARCHAR},
      </if>
      <if test="geoCode != null" >
        #{geoCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="groupnum != null" >
        #{groupnum,jdbcType=INTEGER},
      </if>
      <if test="picurl != null" >
        #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="begtime != null" >
        #{begtime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fly.wechat.mpdemo.match.model.Match" >
    update lq_match
    <set >
      <if test="matchId != null" >
        match_id = #{matchId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="lqDesc != null" >
        lq_desc = #{lqDesc,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null" >
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="lqType != null" >
        lq_type = #{lqType,jdbcType=TINYINT},
      </if>
      <if test="loc != null" >
        loc = #{loc,jdbcType=VARCHAR},
      </if>
      <if test="lon != null" >
        lon = #{lon,jdbcType=VARCHAR},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=VARCHAR},
      </if>
      <if test="geoCode != null" >
        geo_code = #{geoCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="groupnum != null" >
        groupNum = #{groupnum,jdbcType=INTEGER},
      </if>
      <if test="picurl != null" >
        picUrl = #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="begtime != null" >
        begTime = #{begtime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fly.wechat.mpdemo.match.model.Match" >
    update lq_match
    set match_id = #{matchId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      lq_desc = #{lqDesc,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      unionid = #{unionid,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      lq_type = #{lqType,jdbcType=TINYINT},
      loc = #{loc,jdbcType=VARCHAR},
      lon = #{lon,jdbcType=VARCHAR},
      lat = #{lat,jdbcType=VARCHAR},
      geo_code = #{geoCode,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      groupNum = #{groupnum,jdbcType=INTEGER},
      picUrl = #{picurl,jdbcType=VARCHAR},
      begTime = #{begtime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByMatch" resultMap="BaseResultMap" parameterType="com.fly.wechat.mpdemo.match.model.Match" >
    select 
    <include refid="Base_Column_List" />
    from lq_match
    where 
      <if test="matchId != null" >
        match_id = #{matchId,jdbcType=VARCHAR} and
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR} and
      </if>
      <if test="lqType != null" >
        lq_type = #{lqType,jdbcType=TINYINT} and
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR} and
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR} and
      </if>
      <if test="geoCode != null" >
        geo_code LIKE CONCAT(?, '%') and
      </if>
      1=1
  </select>
</mapper>